# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers eclipse
.project
.cproject
!.prd/.project
!.prd/.cproject
!.prd/.metadata/*
!.prd/.settings/*
/.settings/
/.settings/*
*.elf
*.map

# Ignorer tous les fichiers intermédiares de construction
*.o
*.a
*.so

*~
*.swp
*.swo
*.orig
/Debug/
/Release/

# ignore generated documentation
doxygen/

*.gpdsc

