# Les ligne commençant par '#' sont des commentaires.
.settings/
.cproject
.project
Debug/*
Release/*
*.settings/*

*.elf
*.map

# Ignorer tous les fichiers intermédiares de construction
*.o
*.a
*.so

*~
*.swp
*.swo
*.orig
